**/*.pyc
**/*.DS_Store
**/Cargo.lock
spherical/spherical/resources/
spherical/spherical_pgx/.cargo/
spherical/spherical_pgx/.gitignore
spherical/spherical_pgx/spherical_pgx.control
spherical/spherical_py/target
spherical/target
traffic_monitoring_example/config/virtualenv/venv
traffic_monitoring_example/datasets
traffic_monitoring_example/duckdb
traffic_monitoring_example/test_env
air_quality_data_experiments/out
import/**/*.*
dependencies
air_quality_data_experiments/db_test/
air_quality_data_experiments/h3_duckdb/
**/*.ini
reusable_etl_functionality.egg-info/
reusable_etl_functionality/build/